* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background-color: black;
}
a {
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0)1px 1px;
    text-decoration: none;
}
.gold {
    color: gold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section {
    background: rgb(22, 22, 22);
    border-bottom:15px solid black;
    border-top:15px solid black;
    border-right:10px solid black;
    border-left:10px solid black;
}
.card {
    border-bottom:15px solid black;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    padding-left: 15px;
    gap: 5px;
    color: ivory;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    
}
.hrre {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 15px;
}
.gerld {
    font-family: fantasy;
    padding-left: 15px;
}
.data {
    background: #fe921f; color: #ffffff; display: inline-block; font-family: ‘Lato’, sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 0 0 30px; padding: 10px 15px 8px; text-transform: uppercase;
}
.back {
    background: rgb(22, 22, 22);
    /* border-color: black?; */
    border-top:10px solid black;
    border-left:10px solid black;
    border-right:10px solid black;
}
.jo {
    /* border-top:15px solid black; */
    color: rgb(255, 255, 255);
    background: rgb(22, 22, 22);
    padding-bottom: 631px;
}
.king {
    position: absolute;
    /* padding-left: px; */
    padding-right: 15px;
    /* padding-bottom: 250px; */
}
.vip {
    position: absolute;
    /* padding-left: px; */
    padding-right: 15px;
    padding-top: 85px;
    /* padding-bottom: 250px; */
}
.h4 {
    color: red;
}
.mir {
    color: chartreuse;
}
.kir {
    color: brown;
}
.sc {
    color: gold;
}
.imges {
    text-align: center;
    /* display: flex; */
}
.tecxt {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
.footer {
 display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    text-align: end;
    background-color: black;
    color: #ffffff;
    font-size: 25px;
    padding-top: 150px;
    padding-bottom: 150px;
    color: goldenrod;
}
.footer-ul {
    list-style: none;
   gap: 5px;
}
.footer-li {
  font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fob {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 8px;
    display: flex;
    gap: 5px;
    padding-top: 15px;
    padding-left: 15px;
    /* background: url(); */
}
.indes {
    color: red;
}
.fobe {
    text-align: center;
    padding-top: 50px;
}
.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100%;
  background-color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
 background-color: black;
  height: 100vh;
  width: 30%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 10px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;

}

.logo {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.2rem;
  color: #ffffff;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}
    .ibo {
        padding-left: 80px;
    }
    /* 277 */
    .card-vs {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
    }
    .vs-c {
      padding-left: 60px;
      padding-top: 15px;
      display: flex;
      gap: 15px;
    }